
html{
    margin:0;
}
body {
    font-family: 'Catamaran', sans-serif;
    margin: 0
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}
.navbar h1 {
    position: relative;
    color: white;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 4rem;
    left: 2%
} 

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 200;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}


.container {
    position: relative;
    height: 1000px;

}

.section__intro {
    text-align: center;    
}   

.section__intro h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

/* Products page */

.section__products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    left: 3%;
    /* flex-basis: 33.33%; */

}

.product {
    /* position: relative;
    align-content: center; */
    margin: 2rem 3rem;
    padding: 20px;
    border: dotted 1px rgba(89, 235, 5, 0.979);
    /* border-radius: 50%; */
    width: 200px;
    height: 200px;
}

.product h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.product__img {
    position: relative;
    display: flex;
    margin-right: 0;
    /* top: 25%; */
    left: 35%;
    height: 50%;
    align-content: center;
}

.variety {
    left: 14%;
}

.price {
    text-align: center;
}

/* Contact form */

form {
    position: relative;
    margin: auto;
    width: 375px;
    height: 600px;
    z-index: 1;
}

label {
    font-weight: bold;
}

input[type=text], input[type=tel], label, textarea {
    width: 100%;
    padding: 5px 2px ;
    margin-top: 6px; 
    margin-bottom: 16px; 
}

input[type=submit]{
    position: relative;
    background-color: rgba(255, 166, 0, 0.897);
    color: white;
    padding: 12px 20px;
    border: none
}

/* Search page */

.searchBar {
    
}

/* Footer */

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    background-color: rgb(7, 231, 231);
    background-size: contain;
    justify-content:center;
    align-items:center;
    z-index: 100;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 255),
        0 0 82px rgb(255, 0, 255),
        0 0 92px rgb(255, 0, 255),
        0 0 102px rgb(255, 0, 255),
        0 0 151px rgb(255, 0, 255);
  }

  /* media queries */

  @media only screen and (max-width: 950px) {
    .navbar h1 {
        font-size: 3.5rem;
        
    } 
    .nav-menu {
        position: fixed;
        left: -120%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        /* box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05); */
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem ;
    }

    .section__products {
        left: 130px;
        /* margin-bottom: 200px; */
    }

    .variety{
        margin-bottom: 200px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media only screen and (max-width: 800px) {
    .navbar h1 {
        font-size: 3rem;
        left: 18%
    }
    .nav-menu{
        
        width: 375px;
        height: 400px;
        /* right: 11rem; */
    }
    .nav-item{
        position: relative;
        right: 25px
    }
    .section__products {
        bottom: 2rem;
        left: 10px
    }
    .product {
        position: relative;
        left: 30px
    }

    
}